<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <ul>
      <% messages.forEach((message) => { %> <%- include('message', {message: message}); %> <% }); %>
    </ul>
    <br />
    <a href="/new">Add a new comment!</a>
  </body>
</html>
