<h1>Message details:</h1>
<h3>Message id <%= message.id %></h3>

<div style="height: 30px; display: flex; gap: 1rem; align-items: center">
  <h4>User:</h4>
  <p><%= message.user %></p>
</div>

<div style="height: 30px; display: flex; gap: 1rem; align-items: center">
  <h4>Message text:</h4>
  <p><%= message.text %></p>
</div>

<div style="height: 30px; display: flex; gap: 1rem; align-items: center">
  <h4>Created at:</h4>
  <p><%= message.added %></p>
</div>

<a href="/">Go back</a>
